<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp - URLs Index</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <p>
  <table>
    <% for (var url in urls) { %>
    <tr>
      <td>
        <%= url %>
      </td>
      <td>
        <%= urls[url]["url"] %>
      </td>
      <td>
        <form method="GET" action="/urls/<%=url%>">
          <input type="submit" id="<%=url%>" name="<%=url%>" value="Edit">
        </form>
      </td>
      <td>
        <form method="POST" action="/urls/<%=url%>/delete">
          <input type="submit" id="<%=url%>" name="<%=url%>" value="Delete">
        </form>
      </td>
    </tr>
    <% } %>
  </table>
  </p>
  <p><a href="/urls/new">Create a New Short Link</a></p>
</body>
</html>