<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp&trade;</title>
</head>
<body>
    <h1>TinyApp&trade;</h1>
    <header>
      <% include partials/_header %>
    </header>
    <h3>Your Short URL</h3>
  <p>
  <%=shortURL %>
  </p>
  <p>
  <table>
  <tr>
    <form method="POST" action="/urls/<%=shortURL%>">
      <td>
      <input type="text" id="updatedLongURL" name="updatedLongURL" value="<%=urls[shortURL]["url"]%>" style="width: 300px">
      </td>
      <td>
      <input type="submit" id="<%=shortURL%>" name="<%=shortURL%>" value="Update">
      </td>
    </form>
    <td>
    <form method="POST" action="/urls/<%=url%>/delete">
      <input type="submit" id="<%=shortURL%>" name="<%=shortURL%>" value="Delete">
    </form>
    </td>
  </tr>
  </table>
  </p>
  <p><a href="/urls/new">Create a New Short Link</a></p>
</body>
</html>