<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App - URL Page</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <p>
  <%=shortURL %>
  </p>
  <p>
  <table>
  <tr>
    <form method="POST" action="/urls/<%=shortURL%>">
      <td>
      <input type="text" id="updatedLongURL" name="updatedLongURL" value="<%=urls[shortURL]["url"]%>" style="width: 300px">
      </td>
      <td>
      <input type="submit" id="<%=shortURL%>" name="<%=shortURL%>" value="Update">
      </td>
    </form>
    <td>
    <form method="POST" action="/urls/<%=url%>/delete">
      <input type="submit" id="<%=shortURL%>" name="<%=shortURL%>" value="Delete">
    </form>
    </td>
  </tr>
  </table>
  </p>
</body>
</html>